<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolyusen.exam.mapper.exam.ExamResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coolyusen.exam.pojo.exam.ExamResult">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="exam_information_id" property="examInformationId" />
        <result column="user_answer" property="userAnswer" />
    </resultMap>
    <insert id="addExamResultList">
        insert into exam_result
        values
        <foreach collection="examResults" separator="," item="examResult">
            (
            default ,
            #{examResult.userId},
            #{examResult.examInformationId},
            #{examResult.userAnswer}
            )
        </foreach>
    </insert>

</mapper>
