<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolyusen.exam.mapper.test.UserTestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coolyusen.exam.pojo.test.UserTest">
        <id column="id" property="id" />
        <result column="stu_id" property="stuId" />
        <result column="test_type_id" property="testTypeId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="score" property="score" />
        <result column="complete" property="complete"/>
    </resultMap>

    <insert id="addUserTest" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.coolyusen.exam.pojo.test.UserTest">
        insert into user_test
        (stu_id,test_type_id,begin_time)
        values
        (
            #{stuId},
            #{testTypeId},
            now()
        )
    </insert>
</mapper>
