<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolyusen.exam.mapper.user.RegistryVerificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coolyusen.exam.pojo.user.RegistryVerification">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="grade_id" property="gradeId"/>
        <result column="whether_to_pass" property="whetherToPass" />
    </resultMap>

</mapper>
